.container{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login{
  display: grid;
  grid-template-columns: 200px 500px;
}

.header{
  background-color: #576C7F;
  width: 100%;
  box-sizing: border-box;
}

.header>p{
  text-align: center;
  color: white;
  font-size: 2em;
}

.login-card{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

mat-form-field{
  display: block;
}

.login-card>button{
  width: 100%;
  height: 50px;
  margin-bottom: 0;
  font-size: 1em;
  text-transform: uppercase;
  background-color: #5fb1fb !important;
  transition: all .2s ease-out;
}

.login-card>button:hover{
  background-color: #ffa963 !important;
}

.login-card>button[disabled]:hover{
  background-color: #5fb1fb !important;
}

.login-card>mat-card-subtitle{
  margin-top: 5px;
  text-align: center;
}

.login-card>mat-card-subtitle>a{
  text-decoration: none;
}

.unit{
  display: grid;
  grid-template-columns: 50px 1fr;
}

.unit>i{
  font-size: 1.5em;
  margin-top: 20px;
}

.message{
  text-align: center;
}

.message.error{
  color: red;
}

.message.success{
  color: green;
}
