
*{
  padding: 0;
  margin: 0;
}

.profile-title, .details-title{
  font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif;
  margin: 20px;
  margin-left: 40px;
  width: fit-content;
}

.profile-title>.subtitle{
    color: #949494;
    font-size: 14px;
    text-align: right;
    margin-top: -12px;
}

mat-card{
  padding: 24px;
  margin: 20px;
}

.student>mat-card-header{
  display: flex;
}

.student-header{
  width: auto;
}

.details{
  padding-top: 24px;
}

.details>mat-card-content{
  margin: 10px 5px 0 10px;
  display: flex;
  justify-content: space-between;
}

.details>mat-card-content>div{
  width: 100%;
  text-align: center;
}

.details>mat-card-content>div:not(:last-child){
  border-right: 1px solid #f1f1f1;
}

.details>mat-card-content>div{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tutor{
  display: flex;
  justify-content: center;
}

.tutor>div{
  margin-right: auto;
}

.details-title>p{
  font-size: 14px;
}

.details-title>.subtitle{
  color: #949494;
  font-size: 14px;
  text-align: left;
}

.material-icons{
  font-size: 50px;
}

.Ñontact-details>mat-card-header>div{
  width: 100%;
  text-align: center;
  padding-bottom: 24px;
}

.contact-icon{
  font-size: 30px;
}

.contacts{
  height: 300px;
  padding: 0 20px;
  margin: 20px 10%;
  border: 1px solid #efefef;
  overflow: auto;
  box-sizing: border-box;
}

.every-contact{
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.every-contact:not(:last-child){
  border-bottom: 1px solid #f1f1f1;
}

.every-contact:hover, .skills-card>mat-card-content>mat-list>div:hover{
  background: linear-gradient(to right, white 0%,#f5f5f5 50%, white 100%);
}

.every-contact>p{
  padding-left: 10px;
}

.contact-type{
  color: #919191;
  font-size: 14px;
}

.icon, .add-contact{
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-button{
  margin-left: auto;
}

.delete-icon{
  font-size: 30px;
  margin-right: 6px;
}

.skills-card>mat-card-header>div{
  width: 100%;
  text-align: center;
  padding-bottom: 24px;
}

.skill-exp, .delete {
    margin-left: auto;
    color: rgb(105, 105, 105);
    font: 500 15px/32px Roboto,"Helvetica Neue",sans-serif;
}

.delete>button{
  width: 40px;
  height: 40px;
}

.skill-name {
  font: 500 17px/32px Roboto,"Helvetica Neue",sans-serif;
}
