<div class="profile" *ngIf="student">

  <div class="profile-title">
    <div>Your profile</div>
    <div class="subtitle">Student</div>
  </div>

  <mat-card class="student-details">
    <div class="student">
      <mat-card-header>
        <div mat-card-avatar class="student-header">
          <i class="material-icons">face</i>
        </div>
        <table cellspacing="5">
          <tr>
            <td>
              <mat-form-field class="First name">
                <input matInput type="text" [(ngModel)]="student.firstName" placeholder="First name">
                <button mat-button *ngIf="student.firstName" matSuffix mat-icon-button aria-label="Clear" (click)="student.firstName=''">
              <mat-icon>close</mat-icon>
            </button>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="Last name">
                <input matInput type="text" [(ngModel)]="student.lastName" placeholder="Last name">
                <button mat-button *ngIf="student.lastName" matSuffix mat-icon-button aria-label="Clear" (click)="student.lastName=''">
              <mat-icon>close</mat-icon>
            </button>
              </mat-form-field>
            </td>
            <button mat-stroked-button id="save-name" (click)="save()">Save</button>
          </tr>
        </table>
      </mat-card-header>
    </div>
  </mat-card>


  <mat-card class="details">
    <mat-card-content>
      <div class="tutor">
        <div mat-card-avatar class="student-header">
          <i class="material-icons">record_voice_over</i>
        </div>
        <div class="details-title">
          <p>{{student.firstName}} {{student.lastName}}</p>
          <div class="subtitle">Tutor</div>
        </div>
      </div>

      <div class="level">
        <p>Level <span>{{student.level}}</span></p>
      </div>

      <div class="reports">
        <p>Reports <span>{{getReportsCount(student)}}</span></p>
      </div>

      <div class="study-time">
        {{getStudyLength(student.startDate)}}
      </div>

      <div class="status">
        Hired
      </div>
    </mat-card-content>
  </mat-card>


  <mat-card class="сontact-details">
    <mat-card-header>
      <div>Сontact details</div>
    </mat-card-header>
    <mat-divider></mat-divider>

    <div class="contacts">
      <div class="header-contacts">
        <p><span>Contact</span></p>
        <p><span>Type</span></p>
      </div>
      <div class="every-contact" *ngFor="let contact of student.contacts; let idx = index">
        <div mat-card-avatar class="icon">
          <i class="material-icons contact-icon">contact_phone</i>
        </div>
        <p><span>{{ contact.value }}</span></p>
        <p><span>{{ contact.type }}</span></p>
        <button mat-icon-button class="delete-button" (click)="deleteContact(idx,contact.type,contact.value)">
            <mat-icon aria-label="delete icon" class="material-icons delete-icon">
              delete
            </mat-icon>
        </button>
      </div>
    </div>

    <div class="add-contact-and-skill">
      <app-add-contacts-window></app-add-contacts-window>
    </div>

    <div class="example-container mat-elevation-z8" *ngIf="student && student.contacts">
      <table mat-table [dataSource]="student.contacts">
    
        <!-- Position Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Type </th>
          <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef> Value </th>
          <td mat-cell *matCellDef="let element"> {{element.value}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-card>


  <div class="skills-content">
    <mat-card class="skills-card">
      <mat-card-header>
        <div>
          Skills
        </div>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content class="skills">
        <div class="every-skills" *ngFor="let skill of student.skills; let idx = index">
          <p><span class="skill-name">{{skill.name}}</span></p>
          <p><span class="skill-exp">{{ExpToText(skill.experience)}}</span></p>
          <button mat-icon-button color="primary" class="delete-button" (click)="deleteSkill(idx,skill.name,skill.experience)">
              <mat-icon aria-label="delete icon" class="material-icons delete-icon">
                delete
              </mat-icon>
          </button>
        </div>
      </mat-card-content>
      <div class="add-contact-and-skill">
        <app-add-skills-window></app-add-skills-window>
      </div>
    </mat-card>
  </div>
</div>
