<div class="profile">

  <div class="profile-title">
    <div>Your profile</div>
    <div class="subtitle">Student</div>
  </div>

  <mat-card class="student-details">
    <div class="student">
      <mat-card-header>
        <div mat-card-avatar class="student-header">
          <i class="material-icons">face</i>
        </div>
        <table cellspacing="5">
          <tr>
            <td>
              <mat-form-field class="First name">
                <input matInput type="text" [(ngModel)]="student.firstName" placeholder="First name">
                <button mat-button *ngIf="student.firstName" matSuffix mat-icon-button aria-label="Clear" (click)="student.firstName=''">
              <mat-icon>close</mat-icon>
            </button>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="Last name">
                <input matInput type="text" [(ngModel)]="student.lastName" placeholder="Last name">
                <button mat-button *ngIf="student.lastName" matSuffix mat-icon-button aria-label="Clear" (click)="student.lastName=''">
              <mat-icon>close</mat-icon>
            </button>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </mat-card-header>
    </div>
  </mat-card>


  <mat-card class="details">
    <mat-card-content>
      <div class="tutor">
        <div mat-card-avatar class="student-header">
          <i class="material-icons">record_voice_over</i>
        </div>
        <div class="details-title">
          <p>{{student.firstName}} {{student.lastName}}</p>
          <div class="subtitle">Tutor</div>
        </div>
      </div>

      <div class="level">
        Level <span>{{student.level}}</span>
      </div>

      <div class="reports">
        Reports <span>{{getReportsCount(student)}}</span>
      </div>

      <div class="study-time">
        {{getStudyLength(student.startDate)}}
      </div>

      <div class="status">
        Hired
      </div>
    </mat-card-content>
  </mat-card>


  <mat-card class="сontact-details">
    <mat-card-header>
      <div>Сontact details</div>
    </mat-card-header>
    <mat-divider></mat-divider>

    <div class="contacts">
      <div class="every-contact" *ngFor="let contact of student.contacts; let idx = index">
        <div mat-card-avatar class="icon">
          <i class="material-icons contact-icon">contact_phone</i>
        </div>
        <p>
          <span>{{ contact.value }}</span>
          <br>
          <span class="contact-type">{{ contact.type }}</span>
        </p>
        <button mat-icon-button color="primary" class="delete-button" (click)="deleteContact(idx)">
            <mat-icon aria-label="delete icon" class="material-icons delete-icon">
              delete
            </mat-icon>
          </button>
      </div>
    </div>

    <div class="add-contact">
      <app-add-contacts-window></app-add-contacts-window>
    </div>
  </mat-card>


  <div class="skills-content">
    <mat-card class="skills-card">
      <mat-card-header>
        <div>
          Skills
        </div>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content class="contacts">
        <div *ngFor="let skill of student.skills; let idx = index" class="every-contact">
          <span class="skill-name">{{skill.name}}</span>
          <span class="skill-exp">{{ExpToText(skill.experience)}}</span>
          <button mat-icon-button color="primary" class="delete-button" (click)="deleteSkill(idx)">
              <mat-icon aria-label="delete icon" class="material-icons delete-icon">
                delete
              </mat-icon>
            </button>
        </div>
      </mat-card-content>
      <div class="add-skill">
        <div class="add-contact">
          <app-add-skills-window></app-add-skills-window>
        </div>
      </div>
    </mat-card>
  </div>
</div>
