<mat-progress-spinner *ngIf="!student"
    class="example-margin">
</mat-progress-spinner>
<div *ngIf="student">
  <div class="title">
      <div>{{student.firstName + " " + student.lastName}}</div>
      <div class="subtitle">Student</div>
  </div>
<div class="content">
  <div class="left-content">
    <div class="contacts">
        <mat-card class="contact-card" *ngFor="let contact of student.contacts">
            <mat-card-header>
              <div mat-card-avatar>
                <i class="material-icons contact-icon">
                  contact_phone
                </i>
              </div>
              <mat-card-title>{{contact.value}}</mat-card-title>
              <mat-card-subtitle class="subtitle">{{contact.type}}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
    <div class="skills">
        <mat-card class="skills-card">
            <mat-card-header>
              Skills
            </mat-card-header>
            <mat-card-content>
                <mat-list>
                  <div *ngFor="let skill of student.skills">
                      <mat-list-item>
                        <span class="skill-name">{{skill.name}}</span>
                        <span class="skill-exp">{{ExpToText(skill.experience)}}</span>                     
                      </mat-list-item>
                      <mat-divider></mat-divider>
                  </div>
                </mat-list>
            </mat-card-content>
        </mat-card>        
    </div>
  </div>
  <div class="right-content">
    <div class="tasks" *ngIf="!selectedTask">
        <mat-card class="task-card grid" *ngFor="let task of student.tasks">
            <mat-card-header [ngClass]="task == selectedTask ? 'selected' : ''">
                <div class="title">
                    <div matTooltip="{{task.name}}">{{task.name}}</div>
                    <div class="subtitle">Task</div>
                </div>
            </mat-card-header>
            <mat-card-content>
                <div class="card-content">
                  <div class="task-description">
                    {{task.description}}
                  </div>
                  <div class="stats">
                    <div><span class="stat-title">Start date: </span><span class="stat-value">{{task.startDate | date: 'mediumDate'}}</span></div>
                    <div *ngIf="task.endDate"><span class="stat-title">End date: </span><span class="stat-value">{{task.endDate | date: 'mediumDate'}}</span></div>
                    <div *ngIf="task.reports"><span class="stat-title">Reports count: </span><span class="stat-value">{{task.reports.length}}</span></div>
                    <div *ngIf="task.endDate"><span class="stat-title">Status: </span><span class="stat-value">Finished</span></div>
                    <div *ngIf="!task.endDate"><span class="stat-title">Duration: </span><span class="stat-value" style="font-weight: bold">{{getDurationTime(task.startDate)}}</span></div>
                    <div></div>
                  </div>
                  
                </div>
              </mat-card-content>
              <div class="task-panel">
                  <button mat-raised-button (click)="selectTask(task)">Reports</button>
              </div>
        </mat-card> 
    </div>
    <div *ngIf="selectedTask">        
        <mat-card class="task-detailed-card">
            <mat-card-header>
                <div class="title">
                    <div>{{selectedTask.name}}</div>
                    <div class="subtitle">Task</div>
                </div>
            </mat-card-header>
            <mat-card-content>
              <div class="task-details-wrapper">
                <div class="report-list">
                    <mat-list>
                        <mat-list-item (click)="selectedReport = report" [ngClass]="selectedReport == report ? 'selected' : ''" class="report-date" *ngFor="let report of selectedTask.reports">
                          <p mat-line> {{report.date | date: 'mediumDate'}} </p>
                          <mat-divider></mat-divider>
                        </mat-list-item>
                      </mat-list>
                </div>
                <div class="report-content">
                  <div *ngIf="!selectedReport" class="no-selected-report">No selected report. Choose one at left panel.</div>
                  <div *ngIf="selectedReport" class="selected-report">
                    <span>Completed work</span>
                    <div>{{selectedReport.content.workCompleted}}</div>
                    <span>Planned work</span>
                    <div>{{selectedReport.content.workPlanned}}</div>
                    <span>Problems / Comments</span>
                    <div>{{selectedReport.content.problems}}</div>
                  </div>
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button (click)="selectedTask = undefined;">Close</button>
            </mat-card-actions>
        </mat-card>
    </div>
  </div>
</div>
  

  <button mat-raised-button (click)="goBack()">go back</button>
</div>
