<mat-progress-spinner *ngIf="!student"
    class="example-margin">
</mat-progress-spinner>
<div *ngIf="student">
  <div class="title">
      <div>{{student.firstName + " " + student.lastName}}</div>
      <div class="subtitle">Student</div>
  </div>

  <div class="content">
    <div class="contacts">
        <mat-card class="contact-card" *ngFor="let contact of student.contacts">
            <mat-card-header>
              <div mat-card-avatar>
                <i class="material-icons contact-icon">
                  contact_phone
                </i>
              </div>
              <mat-card-title>{{contact.value}}</mat-card-title>
              <mat-card-subtitle>{{contact.type}}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
    <div class="skills">
        <mat-card class="skills-card">
            <mat-card-header>
              Skills
            </mat-card-header>
            <mat-card-content>
                <mat-list>
                  <div *ngFor="let skill of student.skills">
                      <mat-list-item>
                        <span class="skill-name">{{skill.name}}</span>
                        <span class="skill-exp">{{ExpToText(skill.experience)}}</span>                     
                      </mat-list-item>
                      <mat-divider></mat-divider>
                  </div>
                </mat-list>
            </mat-card-content>
          </mat-card>
        
    </div>



  </div>

  <button mat-raised-button (click)="goBack()">go back</button>
</div>
