.title {
    font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif;
    margin: 20px;
    margin-left: 40px;
    width: fit-content;
}

.task-card .title {
    font: 500 16px/32px Roboto,"Helvetica Neue",sans-serif;
    margin: 0px;
    margin-right: 20px;
    overflow-x: hidden;
    max-width: inherit;
    white-space: nowrap;
}

.task-card .subtitle {
    margin-top: -17px;
}

.content {
    display: flex;
}

.right-content {
    flex: 80%;
}

.left-content {
    flex: 0 0 420px;
}

.subtitle 
{
    color: #949494;
    font-size: 14px;
    text-align: right;
    margin-top: -12px;
}

.contact-card {
    max-width: 200px;
    
    padding: 20px;
    border-top: 5px solid #d4e2ff;
    margin-bottom: 10px;
}

.content {
    padding: 15px;
}

.contacts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 15px;
    max-width: 400px;
}

.contact-icon {
    font-size: 28px;
}

mat-card-subtitle {
    margin-bottom: 0px;
}

.skills 
{
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    background: #fff;
    color: rgba(0,0,0,.87);
    width: 400px;
    margin-bottom: 20px;
}

.skills-card mat-card-header {
    background-color: #d4e2ff;
    font: 500 18px/32px Roboto,"Helvetica Neue",sans-serif;
    padding: 6px;
}

.skills-card {
    padding: 0px;
}

.mat-list {
    padding-top: 0px;
}

.skill-exp {
    margin-left: auto;
    color: rgb(105, 105, 105);
    font: 500 15px/32px Roboto,"Helvetica Neue",sans-serif;
}

.skill-name {
    font: 500 17px/32px Roboto,"Helvetica Neue",sans-serif;
}

.task-card {
    max-width: 350px;
    width: 350px;
    padding: 0px;
    margin: 10px;
    margin-top: 0px;
    margin-right: 0px;
}

.task-card mat-card-header {
    background-color: #d4e2ff;
    font: 500 18px/32px Roboto,"Helvetica Neue",sans-serif;
    padding: 6px;
}

.task-card mat-card-header:hover {
    background-color: #ffe9d4 !important;
}

.task-card mat-card-title {
    margin-bottom: 0px;
}

.tasks {
    display: flex;
    flex-wrap: wrap;
    
    width: fit-content;
}

mat-card-header {
    max-width: inherit;
}

.task-card mat-card-content {
    padding: 10px;
    font: 500 16px Roboto,"Helvetica Neue",sans-serif;
}

.stats div {
    padding-top: 10px;
    padding-left: 7px;
}

.task-description {
    text-align: center;
    padding: 0 0 10px 10px;
}

.grid {
    display: grid;
    grid-template-rows: 60px auto 50px;
    grid-gap: 1px;
}

.stats div:last-child {
    padding-bottom: 10px;
}

.task-panel {
    padding-top: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 10px;
    padding-bottom: 10px;
}

.contacts .subtitle {
    margin-top: -17px;
}

.task-detailed-card mat-card-header {
    background-color: #d4e2ff;
    font: 500 18px/32px Roboto,"Helvetica Neue",sans-serif;
    padding: 6px;
}

.task-detailed-card {
    padding: 0px;
    margin: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    height: calc(100vh - 250px);
}

.task-detailed-card .title {
    font: 500 16px/32px Roboto,"Helvetica Neue",sans-serif;
    margin: 0px;
    margin-right: 20px;
    overflow-x: hidden;
    max-width: inherit;
    white-space: nowrap;
}

.task-detailed-card mat-card-actions {
    margin-left: 40px;
    margin-bottom: 10px;
}

.task-details-wrapper {
    display: flex;
    height: 100%;
}

.report-list {
    flex: 20%;
    max-width: 200px;
    border-right: 1px rgba(0,0,0,.12) solid;
    overflow-y: scroll;
    max-height: calc(100vh - 400px);
}

::-webkit-scrollbar {
    display: none;
    }

.report-content {
    flex: 80%;
}

.report-date:not(.selected):hover {
    background: #d4e2ff;
}

.report-date {
    cursor: pointer;
}

.selected-report div {
    margin-bottom: 20px;
    margin-left: 25px;
    border: 1px rgba(0,0,0,.12) solid;
    border-radius: 4px;
    padding: 5px;
    margin-right: 25px;
    min-height: 50px;
}

.selected-report span {
    font: bold 16px/32px Roboto,"Helvetica Neue",sans-serif;
    margin: 2px;
    margin-left: 10px;

}

.selected {
    background-color: #ffe9d4;
}

/**BADGE**/

.mat-badge {
    position: relative;
}

.mat-badge-medium.mat-badge-after .mat-badge-content {
    right: -22px;
}

.mat-badge-medium.mat-badge-above .mat-badge-content {
    top: -11px;
}

.mat-badge-medium .mat-badge-content {
    width: 22px;
    height: 22px;
    line-height: 22px;
}

.mat-badge-content.mat-badge-active {
    -webkit-transform: none;
    transform: none;
}

.mat-badge-warn .mat-badge-content {
    color: #fff;
    background: #f44336;
}

.mat-badge-content {
    position: absolute;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
    -webkit-transform: scale(.6);
    transform: scale(.6);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    pointer-events: none;
}

.mat-badge-content {
    font-weight: 600;
    font-size: 12px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.unread {
    height: 47px;
    width: 2px;
    background-color: #ff3a3a;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
}

.reports-button .mat-badge-content {
    right: -7px !important;
    top: -8px !important;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    width: 15px;
    height: 15px;
    font-size: 11px;
    line-height: 17px;
}