.title {
    font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif;
    margin: 20px;
    margin-left: 40px;
    width: fit-content;
}

.task-card .title {
    font: 500 16px/32px Roboto,"Helvetica Neue",sans-serif;
    margin: 0px;
    margin-right: 20px;
    overflow-x: hidden;
    max-width: inherit;
    white-space: nowrap;
}

.task-card .subtitle {
    margin-top: -17px;
}

.content {
    display: flex;
}

.right-content {
    flex: 70%;
}

.left-content {
    flex: 30%;
}

.subtitle 
{
    color: #949494;
    font-size: 14px;
    text-align: right;
    margin-top: -12px;
}

.contact-card {
    max-width: 200px;
    margin-right: 15px;
    padding: 20px;
    border-top: 5px solid #d4e2ff;
}

.content {
    padding: 15px;
}

.contacts {
    display: flex;
    margin-bottom: 15px;
}

.contact-icon {
    font-size: 28px;
}

mat-card-subtitle {
    margin-bottom: 0px;
}

.skills 
{
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    background: #fff;
    color: rgba(0,0,0,.87);
    width: 400px;
    margin-bottom: 20px;
}

.skills-card mat-card-header {
    background-color: #d4e2ff;
    font: 500 18px/32px Roboto,"Helvetica Neue",sans-serif;
    padding: 6px;
}

.skills-card {
    padding: 0px;
}

.mat-list {
    padding-top: 0px;
}

.skill-exp {
    margin-left: auto;
    color: rgb(105, 105, 105);
    font: 500 15px/32px Roboto,"Helvetica Neue",sans-serif;
}

.skill-name {
    font: 500 17px/32px Roboto,"Helvetica Neue",sans-serif;
}

.task-card {
    max-width: 350px;
    width: fit-content;
    padding: 0px;
    margin: 10px;
}

.task-card mat-card-header {
    background-color: #d4e2ff;
    font: 500 18px/32px Roboto,"Helvetica Neue",sans-serif;
    padding: 6px;
}

.selected {
    background-color: #ffe9d4 !important;
}

.task-card mat-card-title {
    margin-bottom: 0px;
}

.tasks {
    display: flex;
    flex-wrap: wrap;
    
    width: fit-content;
}

mat-card-header {
    max-width: inherit;
}

.task-card mat-card-content {
    padding: 10px;
    font: 500 16px Roboto,"Helvetica Neue",sans-serif;
}

.stats div {
    padding-top: 10px;
    padding-left: 7px;
}

.task-description {
    text-align: center;
    padding: 0 0 10px 10px;
    grid-row: 1
}

.grid {
    display: grid;
    grid-template-rows: auto-fill;
}

.stats {
    grid-row: 2;
}

.stats div:last-child {
    padding-bottom: 10px;
}

.task-panel {
    padding-top: 10px;
    grid-row: 3;
}

.contacts .subtitle {
    margin-top: -17px;
}

.task-detailed-card mat-card-header {
    background-color: #d4e2ff;
    font: 500 18px/32px Roboto,"Helvetica Neue",sans-serif;
    padding: 6px;
}

.task-detailed-card {
    padding: 0px;
    margin: 10px;
    padding-bottom: 10px;
}

.task-detailed-card .title {
    font: 500 16px/32px Roboto,"Helvetica Neue",sans-serif;
    margin: 0px;
    margin-right: 20px;
    overflow-x: hidden;
    max-width: inherit;
    white-space: nowrap;
}

.task-detailed-card mat-card-actions {
    margin-left: 40px;
    margin-bottom: 10px;
}