<div *ngIf="student">
  <div class="title">
      <div>{{student.firstName + " " + student.lastName}}</div>
      <div class="subtitle">Student</div>
  </div>

  <div class="content">
    <mat-card class="contact-card" *ngFor="let contact of student.contacts">
        <mat-card-header>
          <div mat-card-avatar>
            <i class="material-icons contact-icon">
              contact_phone
            </i>
          </div>
          <mat-card-title>{{contact.value}}</mat-card-title>
          <mat-card-subtitle>{{contact.type}}</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
  </div>

  <div class="skills">
      <mat-card class="skills-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Skills</mat-card-title>
          </mat-card-header>
          <mat-card-content>
              <mat-list>
                  <mat-list-item>Item 1</mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>Item 2</mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>Item 3</mat-list-item>
                </mat-list>
          </mat-card-content>
        </mat-card>
      
  </div>
  <div><span>id: </span>{{student.id}}</div>
  <div>
    Olala
  </div>
  <button mat-raised-button (click)="goBack()">go back</button>
</div>
