<mat-card>
  <mat-card-title>About</mat-card-title>
  <mat-card-content>{{ home?.about }}</mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>Techologies</mat-card-title>
  <mat-card-content>{{ home?.techologies }}</mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>How to hire</mat-card-title>
  <mat-card-content>{{ home?.howToHire }}</mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>About hiring</mat-card-title>
  <mat-card-content>{{ home?.aboutHiring }}</mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>Contacts</mat-card-title>
  <mat-card-content>{{ home?.contacts }}</mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>Trends</mat-card-title>
  <mat-card-content>{{ home?.trends }}</mat-card-content>
</mat-card>

<div class="buttons">
  <button type="button" name="button" mat-raised-button>Test English</button>
  <button type="button" name="button" mat-flat-button>Register</button>
</div>
