@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');
html, body {
  font-family: Open Sans;
  font-size: 18px;
  line-height: 28px;
}

mat-card {
  margin: 15px;
  font-family: Open Sans;
}

mat-card-content {
  color: rgba(0,0,0,.54);
  font-family: Open Sans;
  text-align: justify;
}

.buttons{
  display: flex;
  justify-content: center;
}

.buttons>button{
  margin: 30px 5px;
}
